<h1 class="title"><i class="fas fa-book"></i> 出版社列表</h1>

<%= link_to "新增出版社", new_admin_publisher_path, class: 'button is-info is-middle' %>


<table class="table is-narrow is-fullwidth">
  <thead>
    <tr>
      <th>出版社名稱</th>
      <th>電話</th>
      <th>地址</th>
      <th>是否上架</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @publishers.each do |publisher| %>
    <tr>
      <td><%= link_to publisher.name, admin_publisher_path(publisher) %></td>
      <td><%= publisher.tel %></td>
      <td><%= publisher.address %></td>
      <td><%= publisher.online %></td>
      <td>
        <%= link_to "編輯", edit_admin_publisher_path(publisher), class: 'button is-light is-small' %>
        <%= link_to "刪除", admin_publisher_path(publisher), method: 'delete', data: {confirm: '你確定嗎???'}, class: 'button is-light is-small' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>